<h1>Admin Page</h1>
<div class="container-fluid">
	<form class="form-horizontal" role="form" name="surveyQuestion" ng-submit="saveQuestion()">
		<div class="form-group">
			<textarea ng-model="question" placeholder="Enter Question Text Here"></textarea>
		</div>
		<div class="form-group" ng-repeat="a in answers">
			<textarea ng-model="a.answerText"  placeholder="And Answer Text Here!"></textarea>
		</div>
		<button class="btn btn-lg btn-primary">Save Question</button>
		<button class="btn btn-lg btn-info" ng-click="addAnswer()" type="button">Add Answer</button>
		<button class="btn btn-lg btn-info" ng-click="removeAnswer()" type="button">Remove Answer</button>
	</form>
</div>

<br/>
<br/>

<div>
	  <button class="btn btn-lg btn-success" ng-click="getResponses()">Toggle Results</button>
</div>

<br/>
<br/>

<div class="container-fluid" ng-show="questions.length > 0">
	<div class="table-responsive">
	  <table class="table table-striped" ng-repeat="q in questions">
	    <thead>
	      <tr>
	        <th>Question:   {{q.question_text}}</th>
	        <th ng-repeat="a in q.answers">{{a.answer_text}}</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>Number of Responses:</td>
	        <td ng-repeat="a in q.answers">{{a.count}}</td>
	      </tr>
	    </tbody>
	    <br />
	  </table>
	</div>
</div>

<form class="form-horizontal" name="createAdminForm" ng-submit="createAdmin()">
	<h3 class="form-signin-heading">Create A New Admin</h3>
  <input class="form-control" type="text" ng-model="admin.username" placeholder="username" required>
  <input class="form-control" type="password" ng-model="admin.password" placeholder="password" required>
  <br>
  <button class="btn btn-lg btn-primary">Create New Admin</button>
</form>

<p ng-show="adminCreated">Admin Succesfully Created</p>

<br/>
<br/>

<div>
	<button class="btn btn-lg btn-danger" ng-click="logout()">Logout</button>
</div>
