
<div class="container-fluid">
	<h1>Login Page</h1>
	<form class="form-signin" name="loginForm" ng-submit="login()" ng-show="!authorized">
		<h2 class="form-signin-heading">Please sign in</h2>
	  <input class="form-control" type="text" ng-model="user.username" placeholder="username" required>
	  <input class="form-control" type="password" ng-model="user.password" placeholder="password" required>
	  <br>
	  <button class="btn btn-lg btn-primary" ng-if="!!user.password && !!user.username">Login</button>
	  <p ng-if="!user.password || !user.username">Please Enter Your Credentails</p>
	</form>


	<p ng-show="errorMessage">sign in error: {{errorMessage}}</p>
</div>